#jsddm
{  
    display: block;
    padding: 0;
    margin: auto;
    width: 660px;
}
    
#jsddm li
{   float: left;
    list-style: none;
    font: 14px Tahoma, Arial; }

#jsddm li a
{   display: block;
    background: #9F1B1B;
    padding: 5px 12px;
    text-decoration: none;
    border-right: 1px solid white;
    width: 85px;
    color: #EAFFED;
    white-space: nowrap }

#jsddm li a:hover
{   background: #7F1616 }
    
#jsddm li ul
{   margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    border-top: 1px solid white }

#jsddm li ul li
{   float: none;
    display: inline;
    font: 12px Tahoma, Arial; }

#jsddm li ul li a
{   width: auto;
    background: #9F1B1B }

#jsddm li ul li a:hover
{   background: #7F1616 }